*{
  margin: 0;
  padding: 0;
  font-family: serif;
  background:  #CBFFF6;
}

.main-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container .center-container
{
  color: white;
  height: 500px;
  width: 3500px;
  padding-left: 13cm;
}

.main-container .center-container .container
{
  color: rgb(13, 1, 54);
  padding-bottom: 10px;
}